#content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;
    min-height: 100vh;
    font-size: 1.15rem;
}

.header {
    grid-column: 1/3;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c85ff;
}

.header-title {
    font-size: 2rem;
}

.sidebar {
    padding: 40px;
    background-color: #cad3ee;
    display: flex;
    flex-direction: column;
    color: #151515;
    gap: 10px;
}

.image-container {
    width: calc(100% / 3);
}

.projects {
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects > * {
    font-size: 1.15rem;
    font-weight: 400;
    margin-left: 20px;
}

.main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-title {
    font-size: 1.5rem;
}

.add-task {
    margin-left: 20px;
}
